version: 2.1

orbs:
  heroku: circleci/heroku@0.0.10 # Invoke the Heroku orb

jobs:
  build:
    docker:
    - image: circleci/ruby:2.5.3-stretch-node
    steps:
    - checkout
    - run:
        name: install bundler
        command: gem install bundler
    - run:
        name: bundle install
        command: bundle install
    - run:
        name: Run RSpec tests
        command: bundle exec rspec
workflows:
  version: 2
  workflow:
    jobs:
    - build
    - test
    heroku_deploy:
    jobs:
    - heroku/deploy-via-git: # Use the pre-configured job, deploy-via-git
        filters:
          branches:
            only: master
