<h1>Discounts</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <p>Name: <%= discount.name %> %></p>
    <p>Percent Off: <%= discount.percent_off %>%</p>
    <p>Minimum Quantity: <%= discount.min_quantity %></p>
  </section>
<% end %>
